button {
  padding: 10px 20px;
}

#container {

  background-image: url('img/brick.jpg');
  -webkit-background-image: url('img/brick.jpg');
  background-size: cover;
  border:1px solid black;
  width: 900px;
  /*900 if full screen w/ border*/
  height: 500px;
}
